@import "../../shared/styles/variables";

li{
  margin-left: 15px;
  font-weight: 300;
  &:first-of-type{
    margin-top: 10px;
  }

  a{
    font-size: 1.2em;
    letter-spacing: 1px;
    cursor: pointer;
    color: $whiteFont;
    &:hover{
      text-decoration: none;
      color: $blueColor;
    }
    &:focus{
      text-decoration: none;
      color: $blueColor;
    }
    &:active{
      color: darken($blueColor, 10%);
    }
  }
}
@media only screen and (max-width: 767px) {
  li {
    margin-left: 0;
    a {
      font-size: 0.8em;;
      font-weight: 300;
      cursor: pointer;
      text-align: center;
    }
  }
}
