<ng-container *ngIf="(products$ | async) as products">
  <div class="pSquare" *ngFor="let product of products" routerLink="/product/{{product.id_real}}" routerLinkActive="active">
    <div class="pDetailsButton">
      <div class="pDetailsButtonText">Details</div>
    </div>
    <div class="pFavorited" *ngIf="product.promoted"></div>
    <img class="pImage" [src]="product.imgUrl" [alt]="product.title">
    <div class="pTitle">{{product.title}}</div>
  </div>

  <div *ngIf="!products || !products.length" class="pNoProducts">
    <h3>Sorry, we don't have these products at this moment.</h3>
  </div>
</ng-container>
