<div *ngIf="!detailedProduct; else elseBlock">
  <div class="pSquare" *ngFor="let product of products | async" (click)="showDetails(product)">
    <div class="pDetailsButton">
      <div class="pDetailsButtonText">Details</div>
    </div>
    <div class="pFavorited" *ngIf="product.promoted"></div>
    <div class="pImage" appProductImage [url]="product.imgUrl"></div>
    <div class="pTitle">{{product.title}}</div>
  </div>
</div>
<ng-template #elseBlock>
<app-product-details [product]="detailedProduct"></app-product-details>
</ng-template>
