@import '../../../shared/styles/variables';
@import '../../../shared/styles/res';

.pAddButton {
  width: 100px;
  margin: 50px 0 0 50px;
  background-color: $blueColor;
  border: none;
  color: $whiteFont;
  &:hover {
    background-color: darken($blueColor, 10%);
    color: $whiteFont;
  }
  &:focus {
    color: $whiteFont;
  }
  &:active {
    color: $whiteFont;
    outline: none;
    box-shadow: none;
  }
}

.pDelButton {
  margin-left: 10px;
}

#pTable {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-spacing: 0;
  width: calc(100% - 100px);
  text-align: center;
  @include tableBorder($borderColor);
}

th {
  color: $whiteFont;
  background-color: $blackColor;
  height: 40px;
  font-weight: normal;
  font-size: 1.3em;
  text-align: center;
  @include tableBorder($borderColor);
}

tr:nth-child(even) {
  background: lighten($blackColor, 62%);
}

tr:nth-child(odd) {
  background: $bgColor;
}

td {
  height: 40px;
  font-size: 1.2em;
  @include tableBorder($borderColor);
  &:nth-child(1) {
    width: 50px;
    text-align: center;
  }
  &:nth-child(2) {
    padding-left: 15px;
    width: 80%;
  }
  &:nth-child(3) {
    text-transform: uppercase;
    font-size: 1.1em;
    width: 150px;
    text-align: center;
  }
  a {
    cursor: pointer;
    color: $blueColor;
    font-weight: bold;
    &:hover {
      color: darken($blueColor, 10%);
    }
  }
}

//---------- Mobile ----------

@media only screen and (max-width: 767px) {
  table {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .pAddButton,
  .pDelButton {
    margin-left: 0;
  }
  th {
    font-size: 1.1em;
  }
  td {
    font-size: 1.1em;
    &:nth-child(3) {
      font-size: 1.1em;
    }
  }
}
