<a id="pAdd" href="#" class="btn btn-large pAddButton" >Add</a>
<a class="btn btn-large pAddButton" (click)="onDeleteAll()">Delete All</a>
<table id="pTable">
  <thead>
  <tr>
    <th class="th1">ID</th>
    <th class="th2">Product name</th>
    <th class="th3">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products$ | async">
    <td>{{product.id}}</td>
    <td>{{product.title}}</td>
    <td>
      <a>Edit</a>/
      <a (click)="onDelete(product.id_real)">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
