@import '../../../shared/styles/variables';
@import '../../../shared/styles/res';

.pAddButton{
  width: 100px;
  margin: 50px 0 0 50px;
  background-color: $blueColor;
  border: none;
  color: $whiteFont;
  &:hover{
    background-color: darken($blueColor, 10%);
    color: $whiteFont;
  }
  &:focus{
    color: $whiteFont;
  }
  &:active{
    color: $whiteFont;
    outline: none;
    box-shadow:none;
  }
}
.pDelButton{
  margin-left: 10px;
}
table{
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-spacing: 0px;
  width: calc(100% - 100px);
  text-align: center;
  @include tableBorder($borderColor);
}
th{
  color: $whiteFont;
  background-color: $blackColor;
  height: 40px;
  font-weight: normal;
  font-size: 1.3em;
  text-align: center;
  @include tableBorder($borderColor);
}
.th1{
  max-width: 100px;
}
.th3 {
  max-width: 250px;
}
tr:nth-child(even) {
  background: lighten($blackColor,62%);
}
tr:nth-child(odd) {
  background: $bgColor;
}
td{
  height: 40px;
  font-size: 1.2em;
  @include tableBorder($borderColor);
  &:nth-child(3){
    text-transform: uppercase;
    font-size: 1.1em;
  }
  a{
    cursor: pointer;
    color: $blueColor;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      color: darken($blueColor, 10%);
    }
  }
}

//---------- Mobile ----------

@media only screen and (max-width: 767px) {
  table {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .pAddButton,
  .pDelButton{
    margin-left: 0px;
  }
  th{
    font-size: 1.1em;
  }
  td {
    font-size: 1.1em;
    &:nth-child(3) {
      font-size: 1.1em;
    }
  }
}
