//------------------------------------------------variables

$blackColor: #423C3C;
$blueColor: #337ab7;
$bgColor: #f3f3f3;
$whiteFont: #f3f3f3;
$imageWidth: 320px;
$borderColor: #bbb;

@mixin tableBorder($borderColor){
  border: 1px solid $borderColor;
}

//------------------------------------------------res

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
body{
  background-color: $bgColor;
  font-family: 'Roboto', sans-serif;
}
.navbar{
  border: none;
}
h1,h2,h3,h4{
  font-family: 'Anton', sans-serif;
  color: $blueColor;
}
ul,li,h1,h2,h3,body{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}
.navbar.navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

//-----------------------------------------------tempalte

.pNav{
  background-color: $blackColor;
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: 1px solid $blueColor;
  h1{
    margin-left: 15px;
    color: $blueColor;
    line-height: 50px;
  }
}

ul{
  list-style-type: none;
  margin: 50px 0 0 15px;
  font-size: 1.2em;
  letter-spacing: 2px;

  li{
    margin-left: 15px;
    font-weight: 300;
    &:first-of-type{
      margin-top: 10px;
    }

    a{
      font-size: 1.2em;
      letter-spacing: 1px;
      cursor: pointer;
      color: $whiteFont;
      &:hover{
        text-decoration: none;
        color: $blueColor;
      }
      &:focus{
        text-decoration: none;
        color: $blueColor;
      }
      &:active{
        color: darken($blueColor, 10%);
      }
    }
  }
}

.pSignButton{
  width: 100px;
  height: 32px;
  margin: 9px 15px 0 0;
  background-color: $blueColor;
  border: none;
  color: $whiteFont;
  &:hover{
    background-color: darken($blueColor, 10%);
    color: $whiteFont;
  }
  &:focus{
    color: $whiteFont;
    outline: none;
  }
  &:active{
    color: $whiteFont;
    outline: none!important;
    box-shadow:none;
  }
  &Mobile{
    width: 80px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
  }
}

.pMenu{
  height: calc(100vh - 51px);
  background-color: #322C2C;
  color: $blueColor;
  font-weight: bold;
  li{
    font-style: normal;
  }
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.pMenuAdmin{
  margin-top: 70px;
}
.pContainer{
  padding-top: 15px;
  height: calc(100vh - 51px);
  overflow-y: auto;
}
.showOnMobile{
  display: none;
}
.hideOnMobile{
  display: block;
}


//------------------------------------------------gallery

.pSquare{
  height: 220px;
  width: $imageWidth;
  max-width: $imageWidth;
  margin: 5px;
  float: left;
  cursor: pointer;
  position: relative;

  &:hover{
    .pImage{
      height: 170px;
      opacity: .1;
      transition: .3s ease-in-out;
    }
    .pTitle{
      height: 50px;
      line-height: 50px;
      transition: .3s ease-in-out;
    }
    .pDetailsButton {
      transition: .3s ease-in-out;
      opacity: 1;
    }
  }

}

.pImage{
  height: 180px;
  width: 100%;
  background-color: $blackColor;
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
.pFavorited{
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
  background-image: url(http://pngimg.com/uploads/star/star_PNG1597.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 999;
}
.pTitle{
  height: 40px;
  width: 100%;
  background-color: #322C2C;
  color: $blueColor;
  font-size: 1.3em;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 40px;
}
.pDetailsButton {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%)
}
.pDetailsButtonText{
  background-color: $blueColor;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.pNoProducts{
  margin: 50px;
  text-align: center;
}

//------------------------------------------------table

.pAddButton{
  width: 100px;
  margin: 50px 0 0 50px;
  background-color: $blueColor;
  border: none;
  color: $whiteFont;
  &:hover{
    background-color: darken($blueColor, 10%);
    color: $whiteFont;
  }
  &:focus{
    color: $whiteFont;
  }
  &:active{
    color: $whiteFont;
    outline: none;
    box-shadow:none;
  }
}
table{
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-spacing: 0px;
  width: calc(100% - 100px);
  text-align: center;
  @include tableBorder($borderColor);
}

th{
  color: $whiteFont;
  background-color: $blackColor;
  height: 40px;
  font-weight: normal;
  font-size: 1.4em;
  text-align: center;
  @include tableBorder($borderColor);
}
.th1{
  max-width: 100px;
}
.th3 {
  max-width: 250px;
}

tr:nth-child(even) {
  background: lighten($blackColor,62%);
}
tr:nth-child(odd) {
  background: $bgColor;
}
td{
  height: 40px;
  font-size: 1.2em;
  @include tableBorder($borderColor);
  &:nth-child(3){
    text-transform: uppercase;
    font-size: 1.3em;
  }
  a{
    cursor: pointer;
    color: $blueColor;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      color: darken($blueColor, 10%);
    }
  }
}


//------------------------------------------------details

.pDetailsContainer{
  margin: 30px 30px 0 30px;

  h2{
    font-size: 2.2em;
  }
  p{
    margin-top: 50px;
  }
}


//------------------------------------------------edit

.pEditForm{
  margin: 50px 40px 0 50px;
  max-width: 400px;

  h2{
    margin-bottom: 30px;
  }

  textarea{
    min-height: 150px;
  }
  input[type]:focus,
  textarea:focus,
  textarea:active,
  select:focus{
    border-color: $blueColor !important;
  }
}
.pSubmitButton{
  width: 100px;
  margin: 9px 15px 0 0;
  background-color: $blueColor;
  border: none;
  color: $whiteFont;
  &:hover{
    background-color: darken($blueColor, 10%);
    color: $whiteFont;
  }
  &:focus{
    color: $whiteFont;
  }
  &:active{
    color: $whiteFont;
    outline: none;
    box-shadow:none;
  }
}

//------------------------------------------------add

.pAddForm{
  margin: 50px 40px 0 50px;
  max-width: 400px;

  h2{
    margin-bottom: 30px;
  }

  textarea{
    min-height: 150px;
  }
  input[type]:focus,
  textarea:focus,
  textarea:active,
  select:focus{
    border-color: $blueColor !important;
  }

  .pInlineMargin{
    margin-left: 26px;
    @media only screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}
.pSubmitButton{
  width: 100px;
  margin: 9px 15px 0 0;
  background-color: $blueColor;
  border: none;
  color: $whiteFont;
  &:hover{
    background-color: darken($blueColor, 10%);
    color: $whiteFont;
  }
  &:focus{
    color: $whiteFont;
  }
  &:active{
    color: $whiteFont;
    outline: none;
    box-shadow:none;
  }
}

//------------------------------------------------mobile

@media only screen and (max-width: 767px) {
  .showOnMobile{
    display: block;
  }
  .hideOnMobile{
    display: none;
  }
  .pMenuMobile{
    height: 100%;
    background-color: #322C2C;
    color: $blueColor;
    font-weight: bold;
    border-top: 1px solid $blueColor;
    margin: 0 -15px !important;
    li{
      font-style: normal;
    }
  }
  ul{
    margin: 20px 0 0 0;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    li{
      margin-left: 0;
      a{
        font-size: 0.8em;;
        font-weight: 300;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  .pMenuAdmin{
    margin-top: 20px;
  }
  .pSquare {
    float: none;
    width: 100%;
    margin: 10px auto;
  }
  #pTable{
    margin: 0;
    margin-top: 10px;
    width: 100%;
  }
  #pAdd{
    margin-left: 0;
  }
  .pAddForm,
  .pEditForm{
    margin-left: 10px;
    margin-right: 10px;
  }
  .pImageHandler{
    height: 180px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 991px) {
  .pDetailsContainer {
    margin-left: 0;
    margin-right: 0;
    h2 {
      margin-top: 30px;
      text-align: center;
    }
    p{
      text-align: justify;
    }
  }
  .pImageHandler{
    height: 180px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

